<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.eazyrento">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name="com.eazyrento.EazyRantoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.eazyrento.SplashActivity"
                android:screenOrientation="portrait"
                >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

        <activity android:name="com.eazyrento.login.view.LoginUserActivity"
                android:screenOrientation="unspecified"
                android:launchMode="singleTask"
        />
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />


        <activity android:name="com.eazyrento.login.view.RegistrationUserActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.common.view.activity.OrderFilter"
                android:screenOrientation="unspecified"

                />


        <activity android:name="com.eazyrento.merchant.view.activity.MerchantAddVehicleActivity"
                android:screenOrientation="unspecified"

                />
        <activity android:name="com.eazyrento.merchant.view.activity.MerchantNotifyAdminActivity"
                android:screenOrientation="unspecified"

                />
        <activity android:name="com.eazyrento.merchant.view.activity.RateAndReviewActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerFeedbackActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentFeedbackActivity"
                android:screenOrientation="unspecified"

                />


        <activity android:name="com.eazyrento.login.view.ForgotPasswordActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.login.view.OTPActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.myaddress.view.MyAddressListActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.myaddress.view.AddNewAddressActivity"
                  android:screenOrientation="unspecified"
                  android:windowSoftInputMode="adjustPan"

                />
        <activity android:name="com.eazyrento.customer.webpages.AboutActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.webpages.TermsConditionActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.merchant.view.activity.MerchantMainActivity"
                android:screenOrientation="unspecified"
                android:launchMode="singleTask"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentOrderSummaryActivity"
                android:screenOrientation="unspecified"
                android:launchMode="singleTask"
                />

        <!--<activity android:name="com.eazyrento.agent.view.activity.AgentUpdateOrderActivity"
                android:screenOrientation="unspecified"

                />-->

        <activity android:name="com.eazyrento.agent.view.activity.AgentSubOrderActivity"
                android:screenOrientation="unspecified"

                />

       <!-- <activity android:name="com.eazyrento.merchant.view.activity.MerchantProfileActivity"
                android:screenOrientation="unspecified"

                />-->

        <activity android:name="com.eazyrento.customer.payment.view.PaymentHistoryActivity"
                  android:screenOrientation="unspecified"

        />


        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerMainActivity"
                android:windowSoftInputMode="adjustPan|adjustResize"
                  android:screenOrientation="unspecified"
                android:launchMode="singleTask"

        />

        <activity android:name="com.eazyrento.agent.view.activity.AgentProfileUpdateActivity"
                android:screenOrientation="unspecified"/>
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerProfileUpdateActivity"
                android:screenOrientation="unspecified"/>
        <activity android:name="com.eazyrento.merchant.view.activity.MerchantProfileUpdateActivity"
                android:screenOrientation="unspecified"/>


       <!-- <activity android:name="com.eazyrento.customer.notification.view.NotificationActivity"
                  android:screenOrientation="unspecified"

        />-->
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerOrderSummaryActivity"
                  android:screenOrientation="unspecified"
                android:launchMode="singleTask"

        />


        <activity android:name="com.eazyrento.merchant.view.activity.MerchantOrderSummaryActivity"
                android:screenOrientation="unspecified"


                />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerPaymentActivity"
                  android:screenOrientation="unspecified"
                android:windowSoftInputMode="adjustPan"

        />

        <activity android:name="com.eazyrento.agent.view.activity.AgentPaymentActivity"
                android:screenOrientation="unspecified"
                android:windowSoftInputMode="adjustPan"

                />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductDetailsActivity"
                  android:screenOrientation="unspecified"

        />


        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerBookingSubmitReviewActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.NotifyToAdminActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.agent.view.activity.AgentAddNoteListActivity"
                android:screenOrientation="unspecified"
                android:launchMode="singleTask"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentAddUpdateNoteActivity"
                android:screenOrientation="unspecified"

                />



        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerBookingDetailsActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductCategoryActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductSubCategoryActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentMainActivity"
                android:screenOrientation="unspecified"
                android:launchMode="singleTask"

                />
        <activity android:name="com.eazyrento.merchant.view.activity.MerchantProductCategory"
                android:screenOrientation="unspecified"

                />
        <activity android:name="com.eazyrento.merchant.view.activity.DriverAvailabilityActivity"
                android:screenOrientation="unspecified"

                />
        <activity
                android:theme="@style/ThemeDialog"
                android:name="com.eazyrento.merchant.view.activity.AddProductDailogActivity"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.merchant.view.activity.MerchantShowAllBooking"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.agent.view.activity.AgentShowAllBookingActivity"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.agent.view.activity.AgentBookingReviewSummeryActivity"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.agent.view.activity.AgentFinalAsignMerchantActivity"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.common.view.TipActivity"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name=".customer.webpages.PrivacyPolicy"
                android:screenOrientation="unspecified"
                />
        <activity
                android:name="com.eazyrento.login.view.UserProfileActivity"
                android:screenOrientation="unspecified"
                />
        <!--<activity
                android:name="com.eazyrento.paymentgetway.PaymentCheckout"
                android:screenOrientation="unspecified"
                />-->


        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />

        <!--google map key-->
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_credential_key"
                />


        <service
                android:name=".MessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_stat_name" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />

        <!--Fb login-->
        <meta-data android:name="com.facebook.sdk.ApplicationId"
                android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
                android:configChanges=
                        "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
                android:label="@string/app_name" />
        <activity
                android:name="com.facebook.CustomTabActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>

        <!--hipo chat sdk-->

        <provider
                android:name="androidx.core.content.FileProvider"

                android:authorities="com.eazyrento.provider"
                android:exported="false"
                android:grantUriPermissions="true">

        <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>

        </provider>


    </application>

</manifest>