<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="com.eazyrento">


    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
            android:name="com.eazyrento.EazyRantoApplication"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:usesCleartextTraffic="true"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <activity android:name="com.eazyrento.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <meta-data android:name="preloaded_fonts" android:resource="@array/preloaded_fonts"/>

        <activity android:name="com.eazyrento.login.view.LoginUserActivity"
        android:screenOrientation="unspecified"

        />
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false" />


        <activity android:name="com.eazyrento.login.view.RegistrationUserActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.agent.view.activity.AgentProfileActivity"
                android:screenOrientation="unspecified"

                />
        <activity android:name="com.eazyrento.merchant.view.activity.MerchantAddVehicle"
                android:screenOrientation="unspecified"

                />


        <activity android:name="com.eazyrento.login.view.ForgotPasswordActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.login.view.OTPActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.myaddress.view.ListAddressActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.myaddress.view.AddNewAddressActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.webpages.AboutActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.webpages.TermsConditionActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.merchant.view.activity.MerchantMainActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentOrderSummaryActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentUpdateOrderActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.merchant.view.activity.MerchantProfileActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.customer.payment.view.PaymentHistoryActivity"
                  android:screenOrientation="unspecified"

        />


        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerMainActivity"
                android:windowSoftInputMode="adjustPan|adjustResize"
                  android:screenOrientation="unspecified"
                  android:launchMode="singleTask"

        />
        <activity android:name="com.eazyrento.customer.profile.ProfileActivity"
                  android:screenOrientation="unspecified"/>

        <!--/>-->
        <activity android:name="com.eazyrento.customer.notification.view.NotificationActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerOrderSummaryActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.merchant.view.activity.MerchantAddressActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.merchant.view.activity.MerchantOrderSummaryActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.PaymentActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductDetailsActivity"
                  android:screenOrientation="unspecified"

        />


        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerOrderReviewActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.customer.dashboard.view.activity.NotifyToAdminActivity"
                  android:screenOrientation="unspecified"

        />

        <activity android:name="com.eazyrento.agent.view.activity.AgentAddNoteActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentWriteNoteActivity"
                android:screenOrientation="unspecified"

                />



        <activity android:name="com.eazyrento.customer.dashboard.view.activity.CustomerBookingDetailsActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductCategoryActivity"
                  android:screenOrientation="unspecified"

        />
        <activity android:name="com.eazyrento.customer.dashboard.view.activity.ProductSubCategoryActivity"
                android:screenOrientation="unspecified"

                />

        <activity android:name="com.eazyrento.agent.view.activity.AgentHomeActivity"
                android:screenOrientation="unspecified"

                />


        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version" />
        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDJbtuQBpxBUAzRggBPzhj_otrzwwA7crg" />

        <service
                android:name=".MessagingService"
                android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
                android:name="com.google.firebase.messaging.default_notification_icon"
                android:resource="@drawable/ic_stat_name" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_color"
                android:resource="@color/colorAccent" />
        <meta-data
                android:name="com.google.firebase.messaging.default_notification_channel_id"
                android:value="@string/default_notification_channel_id" />
    </application>

</manifest>